{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "standard"
  ],
  "rules": {
    "vue/max-attributes-per-line": "off",
    "vue/component-name-in-template-casing": ["off"]
  }
}
