@import "vars";

$box-width: 1170px;
$sidebar-width: 300px;
$content-sidebar-gap: 25px;
$content-width: 1345px;

.box {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #858585;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  height: calc(100vh - 80px);
}

//@media #{$mobile} {
//  .box {
//    width: calc(100% - 30px);
//    margin: 0 15px;
//  }
//}
//
//@media #{$sm-tablet} {
//  .box {
//    width: calc(100% - 60px);
//    margin: 0 30px;
//  }
//}
//
//@media #{$lg-tablet} {
//  .box {
//    width: calc(100% - 30px);
//    margin: 0 15px;
//  }
//}
//
//@media #{$desktop} {
//  .box {
//    width: calc(100% - 30px);
//    margin: 0 15px;
//  }
//}
//
//@media #{$extra} {
//  .box{
//    width: 1170px;
//    margin: 0 auto;
//  }
//}
//@media #{$big} {
//  .box {
//    width: 1350px;
//    margin: 0 auto;
//  }
//}

@media only screen and (max-width: 768px) {
  main > .box {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.content {
  width: $content-width;
  margin: 0 auto;
  position: relative;
  &.left-sidebar {
    margin-right: initial;
    margin-left: $content-sidebar-gap;
  }
}

@media only screen and (max-width: 1600px) {
  .content {
    width: inherit;
    margin: 0 20px;
    &.single {
      margin: 0 auto;
    }
  }
}

//@media only screen and (max-width: 768px) {
//  .content {
//    height: calc(100% - 40px);
//    margin: 20px 0 20px;
//    overflow: hidden;
//  }
//}
//
//@media #{$mobile} {
//  .content {
//    width: 100%;
//    margin-right: 0;
//    height: calc(100% - 40px);
//  }
//}
//
//@media #{$sm-tablet} {
//  .content {
//    width: 100%;
//    margin-right: 0;
//  }
//}
//
//@media #{$lg-tablet} {
//  .content {
//    width: calc(100% - 325px);
//    margin-right: 15px;
//  }
//}


.full-content {
  width: 100%;
}

.white-box {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.sidebar {
  width: $sidebar-width;
}

@media #{$mobile} {
  aside.sidebar {
    display: none;
  }
}

@media #{$w991} {
  aside.sidebar {
    display: none;
  }
}

@media #{$lg-tablet} {
  .sidebar {
    width: $sidebar-width;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// Padding 0
.pa0 { padding: 0!important }
.pt0 { padding-top: 0!important }
.pr0 { padding-right: 0!important }
.pb0 { padding-bottom: 0!important }
.pl0 { padding-left: 0!important }

// Padding 15px
.pa15 { padding: 15px!important }
.pt15 { padding-top: 15px!important }
.pr15 { padding-right: 15px!important }
.pb15 { padding-bottom: 15px!important }
.pl15 { padding-left: 15px!important }

// Margin 0
.ma0 { margin: 0!important }
.mt0 { margin-top: 0!important }
.mr0 { margin-right: 0!important }
.mb0 { margin-bottom: 0!important }
.ml0 { margin-left: 0!important }

// Margin 15px
.ma15 { margin: 15px!important }
.mt15 { margin-top: 15px!important }
.mr15 { margin-right: 15px!important }
.mb15 { margin-bottom: 15px!important }
.ml15 { margin-left: 15px!important }

// Background gradients
.gradient-default { background: $gradient-default; }
.gradient-pink { background: $gradient-pink; }
.gradient-purple-to-pink { background: $gradient-purple-to-pink; }
.gradient-blue { background: $gradient-blue; }
.gradient-crimson { background: $gradient-crimson; }
.gradient-clear { background: transparent; }
.gradient-green { background: $gradient-green; }
