/* Typography */
$base-font  : "Montserrat", sans-serif;

/* Font sizes */
$h1 : 42px;
$h2 : 42px;
$h3 : 34px;

$default-size : 21px;

/* Colors */
$blue           : #3c81e8;
$pink           : #D92B4C;
$green          : #5cb85c;
$light-blue     : #5bc0de;
$orange         : #fda100;
$red            : #ce2020;
$purple         : #664893;
$default-black  : #0e1430;
$text-color     : #858585;
$purple-light   : #312b54;
$purple-dark    : #191d3b;
$pink-light     : #ff79c4;
$pink-dark      : #e755d1;

/* Gradients */
$gradient-default: linear-gradient(-45deg, $purple-light 0%, $purple-dark 100%);
$gradient-pink: linear-gradient(-45deg, $pink-dark 0%, $pink-light 100%);
$gradient-article: linear-gradient(to right, #423A6F 0%, #323660 100%);
$gradient-purple-to-pink: linear-gradient(-45deg, #ab24ff 0%, #7245f4 100%);
$gradient-blue: linear-gradient(-45deg, #3B9DFF 0%, #304FFE 100%);
$gradient-crimson: linear-gradient(-45deg, #da1d52 0%, #FA4074 100%);
$gradient-green: linear-gradient(-45deg, #00b09b 0%, #96c93d 100%);

/* Media Queries */

/* Device type */
$mobile       : "(min-width: 320px) and (max-width: 768px)";
$sm-tablet    : "(min-width: 769px) and (max-width: 1023px)";
$lg-tablet    : "(min-width: 1024px) and (max-width: 1200px)";
$desktop      : "(min-width: 1201px) and (max-width: 1300px)";
$extra        : "(min-width: 1301px) and (max-width: 1408px)";
$big          : "(min-width: 1409px)";

/* Breakpoints */
$w480         : "only screen and (max-width: 480px)";
$w640         : "only screen and (max-width: 640px)";
$w767         : "only screen and (max-width: 767px)";
$w991         : "only screen and (max-width: 991px)";
$w1023        : "only screen and (max-width: 1023px)";
$w1100        : "only screen and (max-width: 1100px)";
$w1200        : "only screen and (max-width: 1200px)";
$w1366        : "only screen and (min-width: 1366px)";

/* Orientation */
$landscape    : "orientation: landscape";
$portrait     : "orientation: portrait";

/* Example Using

@media #{$mobile} {
  .example {
    color: #FFF;
  }
}

*/
