@import 'vars';
@import "reset";

#app, .main-layout {
  width: 100vw;
  height: 100%;
}

main {
  height: calc(100% - 80px);
  margin-top: 0;
  transition: all .2s ease-out;
  &.nav-open {
    transform: translateX(20rem);
    transition: all .2s ease-in;
  }
}

@media only screen and (max-width: 360px) {
  main {
    &.nav-open {
      transform: translateX(15rem);
    }
  }
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: $base-font;
  overflow-x: hidden;
  opacity: 1;
  background: $gradient-default;
  color: $text-color;
  margin: 0;
  z-index: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  -moz-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  &::-webkit-scrollbar {
    width: 10px;
    background: #0e1430;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(217,43,76, 0.6);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $pink;
  }
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&subset=cyrillic-ext');

@import 'elements/card';
@import 'elements/header';
@import 'elements/sidebar';
@import "helpers";
@import 'elements/buttons';
@import 'elements/transitions';
@import '~sweetalert2/src/sweetalert2';
@import "../css/bulma.min.css";


