@import 'vars';
@import "helpers";
@import "reset";

#app, .main-layout {
  width: 100vw;
  height: 100%;
}

main {
  height: calc(100% - 80px);
  margin-top: 80px;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: $base-font;
  overflow-x: hidden;
  opacity: 1;
  background: $gradient-default;
  color: $text-color;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  -moz-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&subset=cyrillic-ext');

@import 'elements/card';
@import 'elements/header';
@import 'elements/sidebar';
@import 'elements/buttons';
@import 'elements/transitions';
@import '~sweetalert2/src/sweetalert2';
@import "../css/bulma.min.css";


