@import "../vars";
.Cookie--purple{
  > div {
    z-index: 1300;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383567;
    color: #FFF;
    padding: 20px 15px;
    .texts {
      margin-right: 50px;
    }
    span {
      font-size: 22px;
      font-weight: bold;
    }
    p {
      margin: 0;
      a {
        color: #ffbacf;
        font-weight: bold;
      }
    }
    button {
      background-color: #fb397c;
      padding: 10px 25px;
      font-weight: bold;
      color: #171414;
      &.agree {
        background-color: $green;
      }
    }
  }
}

@media #{$mobile} {
  .Cookie--purple > div {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
    .texts {
      margin-right: 0;
      margin-bottom: 20px;
    }
    span {
      margin: 0 0 20px 0;
      display: block;
    }
  }
}
