@import "../vars";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 8px 0 32px rgba(0, 0, 0, 0.38);
  background-image: linear-gradient(to left, #423a6f 0%, #272c5a 100%);
  z-index: 1001;
  .box {
    height: 80px;
    padding: 0 40px;
    align-items: center;
    .nav-search {
      svg:first-child {
        margin-right: 15px;
      }
    }
    nav {
      display: flex;
      ul {
        display: flex;
        li {
          float: left;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: rgba(255,255,255,.8);
            font-weight: bold;
            &:hover {
              color: #FD7FB6;
            }
            &.router-link-exact-active {
              color: #FFF;
            }
          }
        }
      }
    }
  }
}

@media #{$w991} {
  header {
    transition: all .2s ease-out;
    &.nav-open {
      transform: translateX(20rem);
      transition: all .2s ease-in;
    }
    .box {
      padding: 0 20px;
      svg path {
        fill: #FFF;
      }
      > nav {
        position: absolute;
        height: 100vh;
        top: 0;
        left: -20rem;
        width: 20rem;
        flex-direction: column;
        background: linear-gradient(to left, #423a6f 0%, #272c5a 100%);
        justify-content: space-between;
        > ul {
          flex-direction: column;
          text-align: right;
          li {
            margin-right: 0;
            padding: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  header .box {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 360px) {
  header {
    &.nav-open {
      transform: translateX(15rem);
      transition: all .2s ease-in;
    }
    .box > nav{
      left: -15rem;
      width: 15rem;
    }
  }
}
