.home {
  margin-top: 20px;
  height: calc(100vh - 100px);
  h2 {
    color: #FFF;
    margin-top: 0;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 20px;
  }
}

.authors {
  margin: 0 0 20px;
  h2 {
    margin: 20px 0 20px;
    color: #FFF;
  }
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}

@media only screen and (min-width: 1600px) {
  .production.content-wrapper  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  .content-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 991px) {
  .content-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .home {
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .content-wrapper {
    grid-template-columns: 1fr;
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .home {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
  .content-wrapper {
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}
