aside.sidebar {
  box-shadow: 8px 0 32px rgba(0, 0, 0, 0.38);
  background-image: linear-gradient(to top, #423a6f 0%, #272c5a 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
  hr {
    background-color: #1e1f3f;
  }
  .patron img {
    height: 35px;
    margin: 0 auto;
    display: block;
  }
  .user {
    display: flex;
    margin-bottom: 35px;
    padding: 20px 20px 0;
    &__img {
      width: 50px;
      height: 50px;
      border-radius: 15px 0 15px 0;
      margin-right: 20px;
    }
    &__name {
      color: #FFF;
      display: block;
      font-weight: bold;
      font-size: 16px;
    }
    &__bookmarks {
      color: #FFF;
      font-size: 13px;
      border: 1px dashed #999;
      padding: 3px 5px;
      &:hover {
        color: $pink;
        border-color: $pink;
      }
      &.active {
        color: $pink;
        border-color: $pink;
      }
    }
  }
  .content-nav {
    &__category {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      &:hover {
        background: $gradient-default;
        cursor: pointer;
      }
      &.active {
        background: $gradient-default;
      }
      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50% 50% 0 50%;
        margin-right: 20px;
        svg {
          font-size: 13px;
          path {
            fill: #FFF;
          }
        }
      }
      &__title {
        color: #FFF;
        font-weight: bold;
      }
    }
  }
  footer {
    padding: 0 20px 20px;
    .lang {
      float: left;
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  aside.sidebar {
    .user {
      display: none;
    }
    .content-nav ul {
      display: flex;
    }
  }
}
